<!DOCTYPE html>
<html lang="en" data-theme="<%= locals.theme %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="icon" type="image/png" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/markdown.css">
    <link rel="stylesheet" href="/default.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/service-worker.js"></script>
    <script src="/marked.min.js"></script>
    <script src="/purify.min.js"></script>
    <script src="/highlight.min.js"></script>
    <script>
        // Set initial theme
        document.documentElement.setAttribute('data-theme', '<%= locals.theme %>');
    </script>
</head>