<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Home - Hubble'}) %>
<body>
    <%- include('partials/navbar', { activeId: 'home' }) %>
    <main class="p-4">
        <h1>Welcome to Hubble!</h1>
        <div class="container mt-4">
          <div class="posts">
            <% posts.forEach(post => { %>
              <%- include('partials/post-card', { post, fullView: false }) %>
            <% }) %>
          </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
      // Initialize marked
      marked.use({
        breaks: true,
        gfm: true
      });

      // Add click handler to prevent post card click when clicking links
      document.querySelectorAll('.markdown-content a').forEach(link => {
        link.addEventListener('click', e => {
          e.stopPropagation();
        });
      });
    </script>
</body>
</html>